.basket {
    z-index: 2;
    position: fixed;
    background-color: rgb(10, 10, 217);
    right: 20px;
    top: 100px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1),
        0px 10px 10px 0px rgba(0, 0, 0, 0.09), 0px 22px 13px 0px rgba(0, 0, 0, 0.05),
        0px 39px 16px 0px rgba(0, 0, 0, 0.01), 0px 61px 17px 0px rgba(0, 0, 0, 0);

    &__icon {
        position: absolute;
        left: 10px;
        color: #ffff;
    }

    &__sum {
        display: block;
        font-size: 20px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 12px;
        color: #ffff;

    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
    }

}


.cart__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;

    .cart {
        position: relative;
        background: white;
        padding: 25px;
        border-radius: 5px;
        min-height: 250px;
        width: 80%;

        &__title {
            padding-top: 20px;
            text-align: center;
        }

        &__body {
            padding-top: 20px;
            display: flex;
            height: 100%;
        }

        &__close {
            position: absolute;
            right: 30px;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            width: 25px;
            height: 25px;
        }
        &__items{
            width: 100%;
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__item-image{
            height: 140px;
            width: 150px;
        }
    }
}